@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Sora:wght@500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  height: 100%;
}

/* Hide scrollbar for all scrollable containers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}